@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "animate";

html, body {
    height: 100%;
}

body {
	color: #eee;
	background: #444;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
    padding-top: 70px;
}

.title {
    font-size: 96px;
    height: 143px;
    position: absolute;
    top:-20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.list-group-item {
	background: #444;
}

:focus {
	outline: none !important;
}
hr {
	padding-bottom: 20px;
}